body.bodyColor.wrapper{
	margin:0 auto;
}
.main_wrapper{
	background-color:#fff;
	width: 100%;
    float: left;
}
@include desktops {
	.container {
	    width: 970px;
	}
	body.bodyColor.wrapper{
		width: 970px;
	}
	body.bodyColor .header-wrapper,
	body.bodyColor .header {
	    max-width: 970px;
	    margin-left: auto;
	    margin-right: auto;
	}
}
@include large-desktops {
	.container {
	    width: 1170px;
	}
	body.bodyColor.wrapper{
		width: 1170px;
	}
	body.bodyColor .header-wrapper,
	body.bodyColor .header {
	    max-width: 1170px;
	    margin-left: auto;
	    margin-right: auto;
	}
}
body.bodyColor.default{
	background-color:#f5f5f5;
}
body.bodyColor.pattern-01{
	background-image: url("../img/patterns/001.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-02{
	background-image: url("../img/patterns/002.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-03{
	background-image: url("../img/patterns/003.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-04{
	background-image: url("../img/patterns/004.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-06{
	background-image: url("../img/patterns/006.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-07{
	background-image: url("../img/patterns/007.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.bodyColor.pattern-05{
	background-image: url("../img/patterns/005.png");
	background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}
body.static .bb-fixed-header {
    display:none;
}