/*=== 18. Cart  ===*/
.cartList{
	padding-top:35px;
}
%cartInput{
	border-radius: 0;
	box-shadow: none;
	height: 47px;
}
%buttonFont{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
%tableDiv{
	display: block;
	float: left;
	padding: 15px;
	width: 100%;
}
%tableHead{
	font-family: 'Roboto Slab', serif;
	font-weight:700;
	background-color: #f1f4f7;
	padding: 0;
	height: 60px;
	vertical-align: middle;
	text-align: left;
	font-size: 16px;
	color: #000;
	padding-left: 15px;
	border: none;
	text-transform:uppercase;
	@include tablet-up{
		height: 75px;
	}
}
%tableData{
	vertical-align: middle;
	font-family: 'Roboto Slab', serif;
	font-size:16px;
	color:#000;
	border-top:none;
}
%closeBtn{
	display: inline-block;
	float: right;
	font-size: 30px;
	color: rgba(0,0,0,0.5);
	font-weight: normal;
	@include transition(all 0.3s ease-in-out);
	padding:3px 20px;
	border:1px solid #f1f4f7;
	opacity:1;
	&:hover{
		color: #fff;
		background-color:$second-bg-color;
		border-color:$second-bg-color;
		opacity:1;
	}
}
.cartListInner{
	width: 100%;
    float: left;
    margin-bottom: 70px;
	.table-responsive{
		margin-bottom: 0;
		overflow-x: auto;
		@include tablet-up{
			overflow-x: visible;
		}
		.table{
			margin-bottom: 0;
			thead{
				border:1px solid #f1f4f7;
				tr{
					th{
						@extend %tableHead;
					}
				}
			}
			tbody{
				border:1px solid #dce4ea;
				border-top:none;
				tr{
					border-bottom:1px solid #dce4ea;
					&:last-child{
						border-bottom:none;
					}
					td{
						@extend %tableData;
						@include phone{
							padding: 10px;
						}
						
						@include tablet-up{
							padding: 15px;
						}
						.courseNo{
							font-size: 13px;
							color: rgba(0,0,0,0.5);
							font-style: italic;
							display: block;
						}
						.close{
							@extend %closeBtn;
						}
						&:nth-child(3){
							color: $second-bg-color;
						}
					}
				}
			}
			img{
				min-width: 80px;
				min-height: auto;
			}
		}
	}
	.updateArea{
		@extend %tableDiv;
		border:1px solid #dce4ea;
		border-top:none;
		.input-group{
			float: left;
			@include phone{
				width: 100%;
				margin-bottom: 20px;
			}
			@include tablet-up{
				width: 465px;
				margin-bottom: 0;
			}
			.form-control{
				@extend %cartInput;
				background-color:#fff;
				@include phone{
					width: 75%;
					margin-bottom: 10px;
				}
				@include tablet-up{
					width: 285px;
					margin-right: 10px;
				}
			}
		}
		.btn{
			@extend %cartInput;
			@extend %buttonFont;
			display: inline-block;
			@include transition(all 0.3s ease-in-out);
			padding: 0;
			line-height: 47px;
			color: #fff;
			background-color: $primary-color;
			border-color: $primary-color;
			width: 165px;
			&:hover{
				background-color: $primary-color;
				border-color: $primary-color;
				color: #fff;
			}
			@include phone{
				float: left;
			}
			@include tablet-up{
				float: right;
			}
		}
		.checkBtnArea{
			.commonBtn{
				@extend %cartInput;
				@extend %buttonFont;
				display: inline-block;
				@include transition(all 0.3s ease-in-out);
				padding: 0;
				line-height: 47px;
				color: #fff;
				width: 170px;
				background-color: $second-bg-color;
				border-color: $second-bg-color;
				&:hover{
					background-color: $second-bg-color;
					border-color: $second-bg-color;
				}
			}
		}
	}
}
.cartListInner .table-responsive .table tbody tr td:last-child {
    text-align: right;
}
.totalAmountArea{
	border:1px solid #dce4ea;
	border-top:none;
	@extend %tableDiv;
	.cart-total{
		font-family: 'Roboto Slab', serif;
		font-size:14px;
		color:#000;
		text-transform: uppercase;
		font-weight: 700;
	}
	.cart-price{
		font-family: 'Roboto Slab', serif;
		font-size:20px;
		color:$second-bg-color;
		text-transform: uppercase;
		font-weight: 700;
	}
}
.cartList{
	.sectionTitle h3 {
	    margin-bottom: 30px;
	}
}
