/*================= 19. Checkout ==================*/
.checkout{
	padding-top:35px;
}
.form-header{
	background-color: #f1f4f7;
	height: 60px;
	vertical-align: middle;
	padding-left: 15px;
	@include tablet-up{
		height: 75px;
	}
	h4{
		font-size: 16px;
		text-transform:uppercase;
		margin: 0;
		line-height: 60px;
		@include tablet-up{
			line-height: 75px;
		}
	}
}
.checkout{
	margin-bottom:30px;
	form{
		padding:25px 20px;
		border:1px solid #dce4ea;
		border-top:none;
		.commonBtn{
			padding-left:40px;
			padding-right:40px;
			margin-bottom: 15px;
			@include desktops{
				margin-left: 50px;
			}
		}
	}
	.form-group {
	    margin-bottom: 15px;
	    clear: both;
	}
	.form-group label {
	    font-weight: 600;
	    font-size: 16px;
	    color:#000;
	    text-align: right;
	    @include desktops{
			margin-bottom: 0;
			width: 170px;
			margin-right: 30px;
			line-height: 42px;
			float: left;
		}
	}
	.form-control {
	    box-shadow:none;
	    @include desktops{
			width: 670px;
		}
	}
	.sbHolder {
	    margin-bottom: 15px;
	    @include desktops{
			width: 670px;
		}
	}
}
.checkboxArea{
	font-size: 14px;
	margin-bottom:25px;
	color:#000;
	input[type=checkbox]:not(old){
		width     : 20px;
		margin    : 0;
		padding   : 0;
		font-size : 10px;
		opacity   : 0;
		& + label{
			display      : inline-block;
			margin-left  : -20px;
			line-height  : 20px;
			font-weight: 400;
			font-size: 14px;
			color: #000000; 
			span{
				background-color: #fff;
				@include border-radius(50%);
				display          : inline-block;
				height           : 20px;
				margin           : 0 10px 0 0;
				vertical-align   : middle;
				width            : 20px;
				@include transition(all 0.3s ease-in-out);
				border: 1px solid #dce4ea;
			}
		}
		&:checked{
			& + label{
				span{
					background-color: $second-bg-color;
					border: 1px solid $second-bg-color;
					&:before{
						color       : #fff;
						content: "\f111";
						font-family: 'FontAwesome';
						display     : block;
						font-size   : 8px;
						font-weight : normal;
						height      : 20px;
						line-height : 18px;
						text-align  : center;
						width       : 17px;
					}
				}
			}
		}
	}
}
.checkboxArea1{
	font-size: 14px;
	margin-bottom:25px;
	color:#000;
	@include desktops{
		margin-left:50px;
	}
	input[type=checkbox]:not(old){
		width     : 20px;
		margin    : 0;
		padding   : 0;
		font-size : 10px;
		opacity   : 0;
		& + label{
			display      : inline-block;
			margin-left  : -20px;
			line-height  : 20px;
			font-weight: 400;
			font-size: 14px;
			color: #000000; 
			span{
				background-color: #fff;
				@include border-radius(0);
				display          : inline-block;
				height           : 20px;
				margin           : 0 10px 0 0;
				vertical-align   : middle;
				width            : 20px;
				@include transition(all 0.3s ease-in-out);
				border: 1px solid #dce4ea;
			}
		}
		&:checked{
			& + label{
				span{
					background-color: $second-bg-color;
					border: 1px solid $second-bg-color;
					&:before{
						color       : #fff;
						content     : "\f00c";
						font-family: 'FontAwesome';
						display     : block;
						font-size   : 10px;
						font-weight : normal;
						height      : 20px;
						line-height : 17px;
						text-align  : center;
						width       : 18px;
					}
				}
			}
		}
	}
}
.checkout .alt-text{
	color:#000;
	font-size:14px;
	margin-bottom:15px;
}
.checkout-content{
	.cartListInner {
	    margin-bottom: 30px;
	}
	.checkBtnArea{
		width: 100%;
	    float: left;
	    margin-bottom: 70px;
	    padding:10px 15px;
	    border:1px solid #dce4ea;
	    .commonBtn{
	    	@include only-mobile{
	    		padding-left:10px;
	    		padding-right:10px;
	    	}
	    	padding-left:30px;
	    	padding-right:30px;
	    }
	}
	.totalAmountArea{
		border:none;
		display: block;
	    float: right;
	    padding: 6px 0;
	    width: auto;
	    @include only-mobile{
    		float: none;
    		padding: 10px 0 0;
    	}
		.cart-total{
			margin-right: 7px;
		}
	}
	.cartListInner .table-responsive .table tbody tr td:nth-child(3) {
	    text-align: right;
	}
}
.confirmation-content{
	.cartListInner .table-responsive .table thead {
	    display: none;
	}
	.cartListInner .table-responsive .table tbody {
	    border-top: 1px solid #dce4ea;
	}
	.cartListInner .table-responsive .table tbody tr td {
		@include desktops{
			font-size: 20px;
		}
		.courseInfo{
			font-family: 'Open Sans', sans-serif;
			color: rgba(0,0,0,0.7);
			display: block;
			margin: 10px 0;
		}
		.courseNo{
			@include desktops{
				font-size: 16px;
			}
		}
	}
	.commonBtn{
		@include only-mobile{
    		padding-left:20px;
    		padding-right:20px;
    	}
    	padding-left:40px;
    	padding-right:40px;
	}
}
.alert{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 22px;
	padding: 15px 30px;
	margin-bottom: 30px;
	@include border-radius(0);
	@include phone{
		padding: 12px 20px;
		font-size: 20px;
	}
	&.alert-success{
		border:1px solid rgba($second-bg-color,0.5);
		background-color:#d5f1ce;
		color: #60a662;
	}
	.successAlert{
		width: 50px;
		height: 50px;
		line-height: 50px;
		@include border-radius(100%);
		background-color:$second-bg-color;
		color: #fff;
		display: inline-block;
		text-align: center;
		margin-right: 24px;
		font-size: 20px;
		@include phone{
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			margin-right: 10px;
		}
	}
	.close{
		top: 12px;
		right: 0;
		color: $second-bg-color;
		@include opacity(1);
		@include phone{
			top: 9px;
		}
	}
}
