/*=== 1. Header V1 ===*/
/*=== 1. Topbar ===*/
.topbar{
	height:auto;
	padding:10px 0;
	border-top:1px solid $primary-color;
	background-color: $primary-color;
	i{
		color: rgba(255, 255, 255, 0.5);
		font-size: 17px;
		vertical-align: text-bottom;
	}
	a{
		display: inline-block;
		color: rgba(255, 255, 255, 0.5);
		text-decoration: none;
		@include transition(color 0.3s);
		&:hover, &:focus{
			color: rgba(255, 255, 255, 1);
			@include transition(color 0.3s ease);
		}
	}
	@include phone {
		display: none;
	}
}
.top-search a i{
	width:16px;
}
.topbar-left li.phoneNo{
	@include only-mobile{
		display: none;
	}
}
.topbar-left{
	display: inline-block;
	li{
		display: inline-block;
		margin-right: 20px;
		font-size: 14px;
		color: rgba(255, 255, 255, 1);
		font-weight: 700;
		@include tablet-up {
			margin-right: 50px;
		}
		i{
			padding-right: 7px;
		}
		a{
			color: rgba(255, 255, 255, 1);
		}
	}
	li:last-child{
		margin-right: 0;
	}
}
ul.topbar-right{
	float: right;
	>li{
		display: inline-block;
		margin-left: 18px;
		font-size: 14px;
		color: rgba(255, 255, 255, 0.5);
		position:relative;
		a:hover i, a:focus i{
			color: rgba(255, 255, 255, 1);
		}
	}
	>li:first-child{
		margin-left: 0;
	}
	ul.dropdown-menu{
	    position: absolute;
	    top: 100%;
	    left: auto;
	    right:0;
	    font-size: 14px;
	    border: 1px solid #e0e1e2;
	    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.33);
	    -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.33);
	    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.33);
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	}
	ul.dropdown-menu:before{
		content: "";
	    display: block;
	    width: 10px;
	    height: 10px;
	    position: absolute;
	    top: -10px;
	    right: 15%;
	    margin-left: -7px;
	    background: url(../img/home/arrow.png) no-repeat center bottom;
	}
}
li.top-search{
	padding-right: 15px;
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	@include tablet-up {
		padding-left: 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
	}
	ul.dropdown-menu{
		width:250px;
	    min-width: 200px;
	    padding: 10px 5px;
	    margin: 2px 0 0;
	    right: -100%;
	    top: 32px;
	    @include tablet-up {
	    	width:350px;
	    	padding: 15px 10px;
	    	right: 0;
	    }
	}
	ul.dropdown-menu:before{
		right: 19%;
		@include tablet-up {
			right: 5%;
		}
	}
}
.top-search.list-inline .dropdown-menu form {
    width: 100%;
    display: table;
}
.top-search.list-inline .dropdown-menu .form-control{
	width:163px;
	box-shadow:none;
	margin-right:5px;
	display: table-cell;
	height: 35px;
	@include tablet-up {
    	width:184px;
    	margin-right:17px;
    	height: 42px;
    }
}
.top-search.list-inline .dropdown-menu .btn.commonBtn{
	width:auto;
	padding-left: 5px;
	padding-right: 5px;
	display: table-cell;
	height: 35px;
	line-height: 35px;
	@include tablet-up {
    	width:122px;
    	padding-left: 0;
		padding-right: 0;
		height: 42px;
		line-height: 42px;
    }
}
li.language.dropdown{
	padding: 0;
	a {
		i{
			vertical-align: text-bottom;
			position: relative;
		}
		i.fa-globe{
			left: -10px;
		}
		i.fa-caret-down{
			right: -5px;
		}
	}
	ul.dropdown-menu{
		width:100px;
	    min-width: 100px;
	    padding: 5px 0;
	    margin: 2px 0 0;
		li{
			margin:0;
			padding:0;
			box-sizing:border-box;
			width:100%;
			a{
				display:block;
				color: #46555e;
				@include transition(color 0.5s);
				font-size: 13px;
				font-weight: 500;
				&:hover, &:focus{
					background: rgba(0, 0, 0, 0.07);
				}
			}
		}
		li.active{
			a{
				background: transparent;
				color:$primary-color;
				@include transition(color 0.3s);
			}
		}
	}
}
li.language.dropdown > a{
	padding-left: 15px;
	padding-right: 15px;
	color: rgba(255, 255, 255, 0.5);
	&:hover, &:focus{
		color: rgba(255, 255, 255, 1);
	}
}
@include tablet-up {
	.dropdown > ul{
	  display: block;
	  visibility: hidden;
	  opacity: 1;
	  -webkit-transition: all 0.05s linear;
	  transition: all 0.05s linear;
	  ul{
	  	-webkit-transition: all 0.05s linear;
	  	transition: all 0.05s linear;
	  }
	}
	.dropdown:hover > ul, ul.dropdown-menu:hover{
		visibility: visible;
		opacity: 1;
		ul{
		  	-webkit-transition: all 0.1s linear;
		  	transition: all 0.1s linear;
		 }
	}
} 

/*=== 2. Header ===*/
.bb-fixed-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10999;
}
.static .bb-fixed-header {
	display:none;
}
.navbar-default {
	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
	    border: 1px solid #49c32c;
	    background: #49c32c;
	    margin: 9px 0 9px;
	    @include tablet-up {
	    	margin: 14px 0 14px;
	    }
	    .icon-bar {
		    background-color: #ffffff;
		}
		&.collapsed {
			background-color: transparent;
			border: 1px solid rgba(0, 0, 0, 0.3);
		    .icon-bar {
			    background-color: rgba(0, 0, 0, 0.3)!important;
			}
		}
	}
}
.header{
	width:100%;
	height:auto;
	background:#fff;
	background-color: #ffffff;
	.navbar{
		padding:5px 0;
		background-color: #ffffff;
		@include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.12));
		@include tablet-up {
		padding:8px 0;
		}
		@include desktops {
			padding:5px 0;
		}
	}
	.navbar-collapse{
		padding:0;
		border-top: none;
		max-height: 340px;
	}
}
.navbar-brand.logo{
	width:170px;
	@include tablet-up {
		width:214px;
	}
	img{
		width:100%;
		margin:8px 0;
	}
}
.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand{
	padding:0;
	margin:0;
}
.navbar-default{
	background: none;
	border: none;
	margin: 0;
}
.header .navbar-nav.navbar-right:last-child{
	margin:0px;
}
.nav.navbar-nav.navbar-right{
	padding:10px 0;
}
.navbar-default .navbar-nav>li>a{
	padding:11px 20px;
	background:none ;
	&:hover{
		background:none ;
	}
	@include tablet-up {
		font-size:12px;
		padding: 8px 8px;
	}
	@include desktops {
		font-size:14px;
		padding:11px 15px;
	}
	@include large-desktops {
		padding:11px 20px;
	}
}
.header .navbar-default .navbar-nav{
	li {
		a{
			font-size:14px;
			text-decoration:none;
			color:#545454;
			text-transform:uppercase;
			font-weight:600;
			background:none !important;
			@include tablet-up {
				font-size:12px;
			}
			@include desktops {
				font-size:14px;
			}
			&:hover{
				color:$primary-color;
			}
		}
	}
	.active{
		a, a:hover, a:focus{
			background:none;
			color:$primary-color;
		}
	}
	 
} 
.header .navbar-default .navbar-nav li.apply_now {
	>a{
		@include phone {
			background:transparent;
			color:#545454;
			&:hover{
				color:$primary-color;
			}
		}
		@include tablet-up {
			background:$second-bg-color;
			color:#fff;
			&:hover{
				background:$second-bg-color;
				color:#fff;
			}
		}
	}
}
.header .navbar-default .navbar-nav  li.apply_now.active {
	>a,>a:hover,>a:focus{
		color:#fff ;
	}
}
.navbar-right .dropdown-menu{
	left:0;
	right: auto;
}
.header .navbar-nav  li.open,  
.header .navbar-nav  li.dropdown{
	.dropdown-menu{
		min-width:200px;
		width: auto;
		border:1px solid #e0e1e2;
		@include box-shadow(0, 4px, 10px, rgba(0,0,0,0.33));
		@include border-radius(2px);
		left:0;
		top:36px;
		right: auto;
		@include phone {
		    border-radius: 0;
		    box-shadow: none;
		    border: none;
		    width: 100%;
		}
		@include tablet-up {
			min-width:160px;
		}
		@include desktops {
			min-width:200px;
		}
		ul.dropdown-menu{
			top: 100%;
			left: 0;
			margin-top: 0;
			@include tablet-up {
				top: 0 !important;
				left: 100% !important;
				margin-top: 5px;
				margin-left: 10px;
			}
		}
		ul.dropdown-menu:before {
			@include tablet-up {
			    content: "";
			    display: block;
			    width: 8px; 
			    height: 13px; 
			    position: absolute;
			    top: 15px;
			    left: -8px;
				background:url(../img/home/arrow-left.png) no-repeat top left;
			}
		}
		li  {
			padding-left:30px;
			@include tablet-up {
				padding: 0 10px;
			}
			a{
				font-size:14px;
				color:#545454;
				font-weight: 600;
				text-transform:capitalize;
				padding:9px 0 !important;
				display:block;
				border-bottom:1px solid #e2e3e4;
				background:none;
				&:hover, &:focus{
					color:$primary-color;
					background:none;
				}
				@include phone {
					color:#545454;
					&:hover, &:focus{
						color:$primary-color;
						background:none;
					}
				}
				@include tablet-up {
					font-size:13px;
				}
				@include desktops {
					font-size:15px;
				}  
			}
			li{
				padding-left:20px;
				@include tablet-up {
					padding: 0 10px;
				}
			}
		}
		li.active >  a{
			background:none;
			color:$primary-color;
		}
		li:last-child a{
			border:none;
		}
		.dropdown-menu{
			li a{
				border-bottom:1px solid #e2e3e4;
			}
			li:last-child a{
				border:none;
			}
		}
	}
}
.header .navbar-nav > li{
	@include tablet-up {
		margin-left: 15px;
	}
}
@include tablet-up {
	.header .navbar-nav > li > .dropdown-menu:before {
	    content: "";
	    display: block;
	    width: 10px; 
	    height: 10px; 
	    position: absolute;
	    top: -10px;
	    left: 15%;
		margin-left:-7px;
		background:url(../img/home/arrow.png) no-repeat center bottom;
	}
}
.list-inline{
	margin-left: 0;
}
@include phone {
	.navbar-collapse ul.navbar-nav.in > li.dropdown > a:after{
		position: relative;
		right: -8px;
		content: "\f107";
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	.navbar-collapse ul.navbar-nav > li.dropdown.open > a:after{
		content: "\f106";
	}
	.navbar-collapse ul.navbar-nav li.dropdown li.dropdown.open > a:after{
		content: "\f106";
	}
}
.navbar-collapse ul.navbar-nav > li.dropdown > a:after{
	position: absolute;
	right: 15px;
	top: 10px;
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	@include tablet-up {
		position: relative;
		right: -8px;
		top: auto;
		content: "\f107";
	}
}
.navbar-collapse ul.navbar-nav li.dropdown li.dropdown > a:after{
	position: absolute;
	right: 15px;
	top: 11px;
	content: "\f107";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	@include tablet-up {
		right: 15px;
		top: 11px;
		content: "\f105";
	}
}