/*=== 2. Header V2 ===*/
/*=== 1. Topbar ===*/
.header-v2 .topbar-right li{
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
	float: left;
	i, .glyphicon{
		position: absolute;
	    left: -15px;
	    top: 3px;
	}
	.glyphicon{
		color: rgba(255, 255, 255, 0.5);
		left: -25px;
		top: 5px;
	}
	a{
		color: rgba(255, 255, 255, 1);
		font-weight: 600;
	}
	span{
		display: inline-block;
		margin:0 3px;
	}
}
.header-v2 .topbar-right > li:last-child{
		margin-left: 33px;
	}
.LanguageList{
	width:115px;
	.sbToggle {
	    background: none;
	    top: 7px;
	}
	.sbToggle:after {
		position: absolute;
    	top: -2px;
		content: "\f107";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    color: rgba(255, 255, 255, 0.5);
	}
	.sbHolder {
	    height: 24px;
	    font-size: 14px;
	    color:rgba(255, 255, 255, 1);
	    background: transparent;
	    border:none;
	    a{
	    	font-weight: 600;
	    }
	}
	.sbSelector {
	    height: 24px;
	    line-height: 24px;
	}
	.sbSelector:link,.sbSelector:visited, .sbSelector:hover{
		color:rgba(255, 255, 255, 1);
		display: block;
	}
	.sbOptions {
		z-index: 999;
		top: 35px!important;
		a:link{
			color: #46555e;
		}
		a:hover, a:visited {
			color: $second-bg-color;
		}
	}
}
/*=== 2. Header ===*/
.version2 .bb-fixed-header .header_inner {
	padding: 0;
	.cart-dropdown {
    top: 8px;
	}
}
.version2, .header-v2{
	.header_inner {
		padding: 15px 0;
	}
	.navbar-toggle {
		position: absolute;
		left: 15px;
		border-radius: 0px;
		background-color: transparent;
		border: 1px solid rgba(0,0,0,0.3);
		.icon-bar {
		    background-color: rgba(0,0,0,0.3);
		}
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		border: 1px solid $second-bg-color;
    background: $second-bg-color;
		.icon-bar{
			background-color: white !important;
		}
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand{
		padding:0;
		margin:0 auto;
		display: block;
		float: unset;
	}
	 .navbar-collapse{
		@include tablet-up{
			margin-right: 80px;
		}
	}
}
.version2, .header-v2{
	.nav.navbar-nav.navbar-right {
		padding-bottom:0;
	}
	.header .navbar-default .navbar-nav li > a{
		@include tablet-up {
			padding-bottom:25px ;
		}
	}
	.header .navbar{
		@include tablet-up {
			padding-bottom: 0;
		}
	}
	.header .navbar-nav li.open .dropdown-menu,
	.header .navbar-nav li.dropdown .dropdown-menu{
		@include tablet-up {
			top:100%;
		}
	}
}
.cart-dropdown {
	position: absolute;
   	right: 15px;
	top: 20px;
    .shop-cart {
	    display: inline-block;
	    position:relative;
	    i{
	    	height: 40px;
	    	border: 1px solid rgba(0,0,0,0.1);
	    	color: rgba(0,0,0,0.3);
	    	line-height: 40px;
	    	padding: 0 11px;
    		font-size: 20px;
    		@include tablet-up {
				height: 50px;
				line-height: 50px;
	    		padding: 0 15px;
			}
	    }
    	.badge{
    		position:absolute;
    		top: 4px;
    		right: 5px;
    		color: #ffffff;
    		background:$second-bg-color;
    		border-radius:50%;
    		padding: 2px 4px;
    		font-weight: 600;
    		font-size: 13px;
    		@include tablet-up {
    			top: 8px;
    			right: 7px;
    		}
    	}
	}
}
