/*================= 1.Home Default ==================*/

/*=== 1 aboutArea ===*/

.aboutArea{
	padding:25px 0 40px;
	@include phone {
	    padding: 30px 0 10px;
	}
}
.aboutArea, .aboutTitle, .aboutImage, .mainContent, .menuFooter, .footer{
    width: 100%;
    display: block;
}
.aboutArea, .footer{
    padding: 35px 0 40px 0;
    background: #222c34; /* Old browsers */
    background: -moz-linear-gradient(left,  #222c34 0%, #2a3a46 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#222c34), color-stop(100%,#2a3a46)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #222c34 0%,#2a3a46 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #222c34 0%,#2a3a46 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #222c34 0%,#2a3a46 100%); /* IE10+ */
    background: linear-gradient(to right,  #222c34 0%,#2a3a46 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222c34', endColorstr='#2a3a46',GradientType=1 ); /* IE6-9 */
}
.aboutTitle > h2{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
	font-weight:700;
	font-size:26px;
	color:#ffffff;
	text-transform:uppercase;
	margin:0 0 25px;
	@include phone {
		font-size: 20px;
	}
}
.aboutImage{
    position: relative;
    img{
    	width: 100%;
    }
}
.aboutImage .overlay{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 44px;
	width: 100%;
	padding: 10px 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.0);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    @include only-mobile {
    	display: none;
    }
	@include tablet-up {
		text-align: left;
		padding: 10px;
	    bottom: 30px;
	}
	@include desktops {
		bottom: 36px;
	}
	@include large-desktops {
	    bottom: 44px;
	}
	p{
		font-size: 14px;
		line-height: 23px;
		margin: 0;
		color: #ffffff;
		opacity: 0;
	    -webkit-transform: translate(0, 30px);
	    -ms-transform: translate(0, 30px);
	    transform: translate(0, 30px);
	    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	    transition: opacity 0.3s, transform 0.3s;
	    font-weight: 400;
	    @include tablet-up {
		    font-size: 11px;
		    line-height: 16px;
		}
		@include desktops {
		    font-size: 12px;
		    line-height: 18px;
		}
		@include large-desktops {
		    font-size: 14px;
		    line-height: 23px;
		}
	}
}
.aboutImage:hover .overlay{
	background: rgba(0, 0, 0, 0.45);
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
	p{
		opacity: 1;
		-webkit-transition-delay: 0.1s;
	    transition-delay: 0.1s;
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
}
.captionLink, .captionLink:hover{
    width: 100%;
    height: 44px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: 44px;
    text-indent: 13px;
    background-color: #0060b1;
    position: absolute;
    left: 0;
    bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:14px;
	color:#fff;
	@include tablet-up {
	    font-size: 9px;
	    text-indent: 10px;
	    height: 30px;
	    line-height: 30px;
	}
	@include desktops {
	    font-size: 11px;
	    text-indent: 10px;
	    height: 36px;
	    line-height: 36px;
	}
	@include large-desktops {
	    font-size: 14px;
	    text-indent: 13px;
	    height: 44px;
	    line-height: 44px;
	}
}
.captionLink:focus{
	color:#fff;
	text-decoration:none;
}
.captionLink > span{
    background-image: url(../img/read_more_link.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 13px;
    display: inline-block;
    float: right;
    margin: 16px 10px 0 0;
    @include tablet-up {
	    margin: 9px 10px 0 0;
	}
	@include desktops {
	    margin: 11px 10px 0 0;
	}
	@include large-desktops {
	    margin: 16px 10px 0 0;
	}
}
.about_inner .col-xs-6{
	@include only-mobile {
		width: 100%;
	}
	@include phone {
		margin-bottom: 20px;
	}
}
.about_inner .col-sm-3{
	@include tablet-up {
		padding-left: 10px;
		padding-right: 10px;
	}
	@include desktops {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*=== 2 mainContent ===*/

.mainContent{
    padding: 47px 0 65px 0;
    background-color: #fff;
	float:left;
	@include phone {
	    padding: 30px 0;
	    margin: 0 0 20px;
	}
}
.videoArea{
    margin-bottom: 27px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce4ea;
}
.videoArea > h3{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.videoLeft{
    position: relative;
    margin-bottom: 20px;
    @include desktops {
	    margin-bottom: 0;
	}
    img{
		cursor:pointer;
		width:100%;
	}
}
.videoLeft iframe{
	width:100%;
}
.videoButton{
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    cursor: pointer;
	margin-top:-39px;
}
.videoRight > p{
    margin: 0 0 15px 0;
}
.btn.learnBtn{
    padding: 0;
    height: 42px;
    border: 1px solid $primary-color;
    background: $primary-color;
    border-radius: 0;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
	font-weight:400;
	@include phone {
		padding: 0 20px;
		width: auto;
		display: inline-block;
	}
	&:hover{
		color: #ffffff;
	}
}
.videoNine .single_post.related_post_sec ul li {
    border-bottom: none ;
}
.videoNine .single_post.related_post_sec ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    @include phone {
    	padding: 0 0 25px;
    	margin: 0 0 22px;
    }
}
.resultPart h4{
    color: #000;
    margin-bottom: 13px;
    font-size: 15px;
    @include only-mobile {
		font-size: 14px;
	}
	@include tablet-up {
		font-size: 13px;
	}
	@include desktops {
		font-size: 14px;
	}
	@include large-desktops {
		font-size: 18px;
	}
}
.videoNine{
	padding-right:30px;
	border-right:1px solid #dce4ea;
	@include phone {
		padding-right:0;
		border-right:none;
	}
}
.resultPart .col-sm-4{
	@include only-mobile {
		width: 100%;
	}
	@include phone {
		margin-bottom: 20px;
	}
}
@include tablet-up {
	.resultPart .col-sm-4:first-child{
		padding-right: 5px;
	}
	.resultPart .col-sm-4:nth-child(2n){
		padding: 0 10px;
	}
	.resultPart .col-sm-4:last-child{
		padding-left: 5px;
	}
}
@include large-desktops {
	.resultPart .col-sm-4:first-child, .resultPart .col-sm-4:nth-child(2n), 
	.resultPart .col-sm-4:last-child{
		padding: 0 15px;
	}
}
/*=== 3. count ===*/
.paralax{
	background-attachment: fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-position: center center;
    float: left;
    width: 100%;
    padding: 65px 0;
    color: #ffffff;
}
.icon{
	padding-top: 40px;
	border: 2px solid rgba(255, 255, 255, 0.2);
	display: inline-block;
	width: 120px;
	height: 120px;
	@include border-radius(50%);
	@include phone {
		padding-top: 35px;
		width: 110px;
		height: 110px;
	}
	i{
		font-size: 36px ;
		@include phone {
			font-size: 30px;
		}
	}
}
.counter{
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	margin-top: 10px;
	@include phone {
		font-size: 40px;
	}
}
.seperator-small{
	width: 10%;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.47);
    margin: 15px auto;
}
.count .col-xs-6 p{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
.count, .menuFooter{
	.col-xs-6{
		@include only-mobile {
			width: 100%;
		}
		@include phone {
			margin-bottom: 35px;
		}
	}
	.col-xs-6:nth-child(2){
		clear: right;
	}
}
.menuFooter .col-xs-6{
	@include phone {
		min-height: 150px;
	}
}

.paralax-text{
	padding-top: 60px;
	margin-top: 60px;
	@include phone {
		padding-top: 45px;
		margin-top: 45px;
	}
	border-top:1px solid rgba(255, 255, 255, 0.15);
	h2{
		font-size: 22px;
		margin-bottom: 25px;
		color: #ffffff;
		text-transform:uppercase;
	    @include tablet-up {
	        font-size: 25px;
	    }
	    @include large-desktops {
	        font-size: 30px;
	    }
	}
	p{
		margin: 0;
	}
	a.commonBtn{
		padding-right: 45px;
		padding-left: 45px;
		margin-top: 40px;
	}
	.list-inline{
		display: block;
		margin-top: 30px;
		li{
			margin: 0 6px;
			padding:0;
			@include only-mobile {
				margin: 0 3px;
			}
			a{
				display: inline-block;
				width: 65px;
				height: 65px;
				line-height: 65px;
				border-radius:50%;
				border:2px solid rgba(255,255,255,0.4);
				color: rgba(255,255,255,1);
				@include only-mobile {
			        width: 45px;
					height: 45px;
					line-height: 45px;
			    }
				i{
					font-size: 22px;
					@include only-mobile {
						font-size: 18px;
					}
				}
			}
		}
	} 
}
.paralax-text .list-inline li:hover i {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}
@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
/*=== 4. testimonial-section ===*/
.testimonial-section{
	padding: 75px 0;
	background-color: #f1f4f7;
	width: 100%;
	float: left;
}
.testimonial .carousal_bottom{
	padding-left: 0
}
.features{
	padding-left: 30px;
	@include phone {
		padding-left: 0;
		margin-top: 25px;
	}
	h3{
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	ul li {
	    width: 100%;
	    line-height: 27px;
	    margin: 0 0 15px;
	    font-weight: 600;
	    font-style: italic;
	    color: rgba(0, 0, 0, 0.80);
	    @include transition(color 0.3s);
	    position: relative;
	    padding-left: 35px;
	    list-style-type: none;
	    &:hover{
	    	color: rgba(0, 0, 0, 1);
	    	@include transition(color 0.3s);
	    	i{
		    	color: $second-bg-color;
		    	@include transition(color 0.3s);
		    }
	    }
	    i {
		    font-size: 28px ;
		    text-align: right;
		    margin-right: 10px;
		    color: #c5c5c5;
		    @include transition(color 0.3s);
		    font: normal normal normal 28px/1 FontAwesome;
		    position: absolute;
		    left: 0;
		    top: 1px;
		}
	}
}

/*=== 5. Brand-section ===*/
.brandSection{
	width: 100%;
	float: left;
	overflow: hidden;
	padding: 65px 0;
	.partnersLogoSlider{
		.slide{
			display: table;
			width: 100%;
			.partnersLogo{
				display: table-cell;
				vertical-align: middle;
				text-align:center ;
				img{
					width: auto;
					margin: 0 auto;
				}
				@include phone{
				}
				@include tablet-up{
					width: 270px;
				}
			}
		}
	}
	.owl-nav {
	    opacity: 1;
	    width: 100%;
	    top: 72%;
    	margin-top: -40px;
	}
}
.brandSection .owl-carousel .owl-controls .owl-nav .owl-prev,
.brandSection .owl-carousel .owl-controls .owl-nav .owl-next{
 	width:40px;
 	height:40px;
 	line-height:40px;
 	font-size:24px;
 	-webkit-transition:all 0.4s;
 	-o-transition:all 0.4s;
 	transition:all 0.4s;
 	padding: 0;
    background-color: transparent;
    color: 666666;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
 }
 .brandSection .owl-carousel .owl-controls .owl-nav .owl-prev:before{
 	color: #666666;
 	line-height:40px;
 	content: "\f104";
 	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 .brandSection .owl-carousel .owl-controls .owl-nav .owl-next:before{
 	color: #666666;
 	content: "\f105";
 	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 	line-height:40px;
 }
 .brandSection .owl-carousel .owl-controls .owl-nav:hover .owl-prev:before,
 .brandSection .owl-carousel .owl-controls .owl-nav:hover .owl-next:before{
 	color: #666666;
 }
 .brandSection .owl-carousel .owl-controls .owl-nav .owl-prev{
 	left:0;
 	@include desktops{
		margin-left: -40px;
	}
 	
 }
 .brandSection .owl-carousel .owl-controls .owl-nav .owl-next{
 	right:0;
 	@include desktops{
		margin-right: -40px;
	}
 }
 .brandSection:hover .owl-carousel .owl-controls .owl-nav .owl-prev{
 	left:0;
 	margin-left: 0;
 	@include desktops{
		margin-left: -40px;
	}
 }
 .brandSection:hover .owl-carousel .owl-controls .owl-nav .owl-next{
 	right:0;
 	margin-right: 0;
 	@include desktops{
		margin-right: -40px;
	}
 }
 .owl-prev span,
 .owl-next span {
 	opacity: 0;
 }
