/*================= 2.Home V2 ==================*/
/*=== 1. BANNER BOTTOM ===*/
.bannercontainer-bottom{
	.fullscreenbanner-container {
	    width: 100%;
	    position: relative;
	    padding:35px 0;
		background:#f1f4f7;
		@include phone{
	    	 padding:20px 0;
	    }
	}
	i{
		width: 75px;
		height: 75px;
		line-height: 75px;
		font-size: 25px;
		border-radius:50%;
		background:$second-bg-color;
		display: inline-block;
		color: white;
		text-align: center;
		float: left;
		position:absolute;
		top: 25px;
		z-index: 9;
		@include phone{
	    	width: 60px;
			height: 60px;
			line-height: 60px;
	    }
	}
	.slide-info{
		width: 80%;
		margin: 0 auto;
		@include phone{
	    	width: 60%;
	    }
		p{
			font-size: 18px;
			font-style: italic;
			color: rgba(0, 0, 0, 0.8);
			margin: 15px auto 0;
			@include phone{
		    	font-size: 13px;
		    }
		}
	}
	.owl-nav {
	    width: auto;
	    position: absolute;
	    top: 100%;
	    margin-top: -30px;
	    right: 0;
	    @include phone{
	    	top: 48px;
	    }
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		margin-right: 5px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev,
	.owl-carousel .owl-controls .owl-nav .owl-next{
		width: 35px;
		height: 35px;
		background:#dfe3e7;
		border-radius:50%;
		text-align: center;
		line-height: 33px;
		&:after{
			color: rgba(0, 0, 0, 0.7);
			content: "\f104";
			background:none;
			display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    font-size: 14px;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}
		span{
			display: none;
		}
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev:after{
		content: "\f104";
	}
	.owl-carousel .owl-controls .owl-nav .owl-next:after{
		content: "\f105";
	}
}

/*=== 2. NEWS SECTION ===*/
.title-block.sectionTitle{
	display: inline-block;
	h3 {
	    margin-bottom: 30px;
	}
}
.news-section{
	border-bottom: 1px solid #dce4ea;
	.news-content{
		@include tablet-up {
		    padding-right: 30px;
		    border-right: 1px solid #dce4ea;
		}
	}
	.news-boxInner{
		@include phone{
			margin-bottom: 40px;
		}
	}
	.related_post_sec h3 {
	    padding-bottom: 0;
	    border-bottom:none;
	    margin: 0 0 5px;
	    @include desktops {
	    	margin: 0 0 25px;
	    }
	}
	.more{
		display: block;
		margin-bottom: 15px;
		float: none;
		@include desktops {
	    	float: right;
	    	margin: 0;
	    	display: inline-block;
	    }
	}
	.single_post.related_post_sec .rel_thumb {
	    width: 100%;
	    float: none;
	    margin:0 0 10px 0;
	    display: block;
	}
	.rel_right h4{
		margin-bottom: 15px;
	}
	.upcoming_events .related_post_sec.single_post .rel_right {
	    padding-left: 0;
	    float: none;
	}
	.upcoming_events .meta span.publish-date{
	    color: rgba(0, 0, 0, 1);
	    margin-right: 0;
	    margin-top: 30px;
	    display: block;
	}
	#event_timer{
		margin: 20px 0;
		.table-cell{
			display: inline-block;
			width: 70px;
			height: 70px;
			text-align: center;
			 border: 1px solid #dce4ea;
			 border-radius:50%;
			 padding-top: 12px;
			 margin-right: 10px;
			 @include only-mobile {
		    	width: 50px;
				height: 50px;
				padding-top: 6px;
			 	margin-right: 7px;
		    }
		    @include tablet-up {
		    	width: 50px;
				height: 50px;
				padding-top: 6px;
			 	margin-right: 3px;
		    }
		    @include desktops {
		    	width: 65px;
				height: 65px;
				padding-top: 9px;
			 	margin-right: 7px;
		    }
		    @include large-desktops {
		    	width: 70px;
				height: 70px;
				padding-top: 12px;
			 	margin-right: 10px;
		    }
		}
		.table-cell:last-child{
			margin-right: 0;
		}
		.tab-val{
			font-size: 20px;
			font-family: 'Roboto Slab', serif;
			font-weight:700;
		    color: #545454;
		    @include only-mobile {
		    	font-size: 16px;
		    	line-height: 16px;
		    }
		    @include tablet-up {
		    	font-size: 16px;
		    	line-height: 16px;
		    }
		    @include desktops {
		    	font-size: 20px;
		    	line-height: 26px;
		    }
		}
		.tab-metr{
			font-size: 13px;
			color: rgba(0, 0, 0, 0.45);
		}
		@include only-mobile {
	    	font-size: 11px;
	    	line-height: 14px;
	    }
	    @include tablet-up {
	    	font-size: 11px;
	    	line-height: 14px;
	    }
	    @include desktops {
	    	font-size: 13px;
	    	line-height: 16px;
	    }
	}
}
.more{
	font-size: 12px;
	font-weight: 700;
	color: rgba(0,0,0,0.3);
	display: inline-block;
	text-transform: uppercase;
	float: right;
}
.feature-section1{
	span{
	    width: 130px;
	    height: 130px;
		i{
		    @include desktops{
			    line-height: 130px;
			    font-size: 42px;
		    }
		}
	}
	&:hover{
		span{
			i{
				@include desktops{
					line-height: 130px;
				}
			}
		}
	}
}
.icon-box.border .icon {
    border: 3px solid #333;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
}
.icon-box.border .icon i {
    line-height: 60px;
}
.icon-box.border:hover > .icon i {
    line-height: 66px;
}
.icon-box.border:hover > .icon {
    border: 0px;
}
.icon-box.border .icon i {
    background-color: transparent !important;
    color: #333;
}
.paralax-text.paralaxInner {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}
/*=== 3. VIDEO SECTION ===*/
.video-section{
	width:100%;
	float:left;
	.more{
		@include only-mobile {
	    	display: block;
			margin-bottom: 15px;
			float: none;
	    }
	}
	.rel_right h4{
		margin-bottom: 10px;
	}
	.videoLeft{
		margin-bottom: 40px;
		@include desktops {
			padding-right: 15px;
			margin-bottom: 0;
		}
		.single_post.related_post_sec .rel_thumb {
		    width: 100%;
		    float: none;
		    margin:0 0 10px 0;
		    display: block;
		}
	}
	.videoRight{
		@include desktops {
			padding-left: 15px;
		}
		.single_post.related_post_sec .rel_thumb {
		    margin: 0;
		    width: 34%;
		}
		.rel_right{
			margin-left: 40%;
		}
		.single_post.related_post_sec ul li {
		    border-bottom: none;
		}
		.single_post.related_post_sec ul li:last-child {
		    margin: 0;
		    padding: 0;
		}
	}
}

/*=== 4. GALLERY ===*/
.gallery-section{
	width:100%;
	float:left;
	.photo_gallery .gallery li {
		@include tablet-up{
		    margin-bottom: 0;
		}
		img{
			width: 100%;
		}
	}
	.photo_gallery{
		border-bottom: 1px solid #dce4ea;
	}
}
.feature-box.v3 {
	span {
		width: 100px;
		height: 100px;
		i{
			line-height: 80px;
		}
		&:hover {
			width: 100px;
			height: 100px;
			i {
				line-height: 80px;
			}
		}
	}
}